<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.epochong.mapper.UserMapper">
    <!--
    #{
         填写parameterType指定的参数类中的实际属性,
         名字必须相同，
        如果这个属性也是对象，
        在 . 这个对象里面的属性
     }
    -->
    <select id="queryUserByZH" parameterType="com.epochong.bz.UserBz" resultType="com.epochong.po.UserEx">
        select * from user where sex = #{userEx.sex} and username like '%${userEx.username}%'
    </select>
 <!--   <sql id="mySQL">
        <if test="userEx != null">
            <if test="userEx.sex != null">
                and sex = #{userEx.sex}
            </if>
            <if test="userEx.username != null">
                and username like '%${userEx.username}%'
            </if>
        </if>
        &lt;!&ndash; <if test="ids != null">
             <foreach collection="ids" item="everyId" open="id in (" close=")" separator=",">
                 #{everyId}
             </foreach>
         </if>&ndash;&gt;
    </sql>

    <select id="queryUserByZH" parameterType="com.epochong.bz.UserBz" resultType="com.epochong.po.UserEx">
        select
        *
        from
        user
        <where>
            <include refid="mySQL"/>
        </where>
    </select>-->
</mapper>